#sub_visual {
    position: relative;
}
#sub_visual .visual {
    width: 100%;
    height: 548px;
    background-image: url('../image/location.jpg');
    background-repeat: cover;
    background-position: center;
}
#sub_visual .sub_title {
    width: 1200px;
    margin: 0 auto;
    /* outline: 1px solid red; */
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 70px;
    padding-top: 250px;
}
#sub_visual > .visual > .sub_title .first {
    font-weight: 300;
}
#sub_visual > .visual > .sub_title .second {
    margin-top: -60px;
    margin-left: 180px;
}
#sub_visual > .sub_lnb {
    width: 100%; height: 60px;
    background-color: rgba(0, 102, 179, 0.5 );
    position: absolute;
    bottom: 0px;
}
#sub_visual > .sub_lnb > nav {
    width: 1200px; 
    margin: 0 auto;
    text-align: center;
}
#sub_visual > .sub_lnb > nav ul {
    overflow: hidden;
}
#sub_visual > .sub_lnb > nav li {
    float: left;
    width: calc(1200px/6);
    transition-duration: 0.4s;
}
#sub_visual > .sub_lnb > nav li a {
    color: white;
    font-size: 16px;
    line-height: 60px;
}
#sub_visual .active {
    border-bottom: 5px solid #F7941E;
    margin-top: -5px;
}

#sub_visual > .sub_lnb > nav li:hover {
    border-bottom: 5px solid #F7941E;
    margin-top: -5px;
}

/* 섹션 공통 */

section h2 {
    margin-top: 100px;
    font-size: 52px;
    font-family: 'Heebo', sans-serif;
}

section h3 {
    /* margin-top: 10px; */
    font-size: 26px;
}

/* location */
#location {
    width: 100%;
    text-align: center;
}
.branch {
    margin: 0 auto;
    /* outline: 1px solid red; */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.branch ul {
    overflow: hidden;
    display: inline-block;
}
.branch ul li {
    float: left;
    font-size: 20px;
}
.branch ul li a:hover {
    color: #0066b3;
}
.branch .selected {
    font-weight: bold;
}
.branch .selected a {
    color: #0066b3;
}

#map {
    width: 100%;
    text-align: center;
    /* outline: 1px solid blue; */
}
#map iframe {
    margin: 0 auto;
}

#desc {
    width: 1200px;
    margin: 0 auto;
}
.line {
    width: 1200px;
    height: 2px;
    margin: 0 auto;
    background-color: #0066b3;
    margin-top: 50px;
    margin-bottom: 20px;
}
#desc .address {
    font-size: 18px;
    font-weight: 500;
    font-family: 'heebo';
}
#desc .text {
    margin-bottom: 80px;
}